.other-card-container {
	max-width: 60vw;
	background-color: #dbdbdb;
	display: flex;
	margin: 10px;
	margin-top: 15px;
	border-radius: 15px 15px 15px 0px;
}

.other-card-container h2,
h3,
p {
	max-width: 40vw;
	overflow: auto;
	word-wrap: break-word;
}
